mainToolsHeight=45px
pictoButtonSize=mainToolsHeight*0.85


#langPicker
	display none

#details
	padding 10px
	>.header>h2
		display block
		height 60px
		line-height 60px
		background-image url(../allData/img/bouton-ressourceries.svg)
		background-size 60px 60px
		background-position 0 0
		background-repeat no-repeat
		margin-bottom 10px
		padding-left 70px
		font-size 20px
	.line
		display flex
		padding-bottom 5px
		border-bottom 1px solid black
		border-bottom-color darken(#d7e1e2, 10%)
		margin-bottom 5px
		>*
			flex 1


#legend>.header>h2
	font-size 20px


.pictoButton
	height mainToolsHeight
	width mainToolsHeight
	background-image url(../staticApp/appImg/unknow.svg)
	background-size pictoButtonSize pictoButtonSize
	background-position ((mainToolsHeight - pictoButtonSize)/2) ((mainToolsHeight - pictoButtonSize)/2)
	background-repeat no-repeat
	&:hover
		background-color lighten(#7c9899, 30%)
		cursor pointer

#main-tools
	display flex
	.left
		flex 1
		display flex
		text-align left;
		>*
			display block
	.right
		flex 1
		display flex
		justify-content: flex-end;
		>*
			display block
	h1
		line-height mainToolsHeight
		padding 0 20px
		color #dcf69d
		font-size 20px
		font-weight bold
		letter-spacing 1px
	.ghost
		opacity 0.5
		&:hover
			cursor auto
			background-color #7c9899

#loginButton
	background-image url(../allData/img/mainTools/login.svg)
#emailButton
	background-image url(../allData/img/mainTools/email.svg)
#faqButton
	background-image url(../allData/img/mainTools/faq.svg)
#alertsButton
	background-image url(../allData/img/mainTools/alerts.svg)
#visuButton
	background-image url(../allData/img/mainTools/visu.svg)
#vizModeButton
	background-image url(../allData/img/mainTools/vizMode.svg)
#editModeButton
	background-image url(../allData/img/mainTools/editMode.svg)
#diagramGenButton
	background-image url(../allData/img/mainTools/diagramGen.svg)
#printButton
	background-image url(../allData/img/mainTools/print.svg)
#exportData
	background-image url(../allData/img/mainTools/exportData.svg)
#search
	searchDeco=mainToolsHeight*0.9
	background-image url(../allData/img/mainTools/search.svg)
	background-size searchDeco searchDeco
	background-position bottom left
	background-repeat no-repeat
	.decoSearch
		height searchDeco
		width 34px
		background-image url(../allData/img/mainTools/search.svg)
		background-size searchDeco searchDeco
		position absolute
		bottom 0
	input
		height 25px
		width 180px
		margin-left 28px
		margin-top 10px
		margin-right 10px
		padding-left 8px


