#langPicker {
  display: none;
}
#details {
  padding: 10px;
}
#details >.header>h2 {
  display: block;
  height: 60px;
  line-height: 60px;
  background-image: url("../allData/img/bouton-ressourceries.svg");
  background-size: 60px 60px;
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  padding-left: 70px;
  font-size: 20px;
}
#details .line {
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  border-bottom-color: #bdcecf;
  margin-bottom: 5px;
}
#details .line >* {
  flex: 1;
}
#legend>.header>h2 {
  font-size: 20px;
}
.pictoButton {
  height: 45px;
  width: 45px;
  background-image: url("../staticApp/appImg/unknow.svg");
  background-size: 38.25px 38.25px;
  background-position: 3.375px 3.375px;
  background-repeat: no-repeat;
}
.pictoButton:hover {
  background-color: #a3b7b8;
  cursor: pointer;
}
#main-tools {
  display: flex;
}
#main-tools .left {
  flex: 1;
  display: flex;
  text-align: left;
}
#main-tools .left >* {
  display: block;
}
#main-tools .right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
#main-tools .right >* {
  display: block;
}
#main-tools h1 {
  line-height: 45px;
  padding: 0 20px;
  color: #dcf69d;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
#main-tools .ghost {
  opacity: 0.5;
}
#main-tools .ghost:hover {
  cursor: auto;
  background-color: #7c9899;
}
#loginButton {
  background-image: url("../allData/img/mainTools/login.svg");
}
#emailButton {
  background-image: url("../allData/img/mainTools/email.svg");
}
#faqButton {
  background-image: url("../allData/img/mainTools/faq.svg");
}
#alertsButton {
  background-image: url("../allData/img/mainTools/alerts.svg");
}
#visuButton {
  background-image: url("../allData/img/mainTools/visu.svg");
}
#vizModeButton {
  background-image: url("../allData/img/mainTools/vizMode.svg");
}
#editModeButton {
  background-image: url("../allData/img/mainTools/editMode.svg");
}
#diagramGenButton {
  background-image: url("../allData/img/mainTools/diagramGen.svg");
}
#printButton {
  background-image: url("../allData/img/mainTools/print.svg");
}
#exportData {
  background-image: url("../allData/img/mainTools/exportData.svg");
}
#search {
  background-image: url("../allData/img/mainTools/search.svg");
  background-size: 40.5px 40.5px;
  background-position: bottom left;
  background-repeat: no-repeat;
}
#search .decoSearch {
  height: 40.5px;
  width: 34px;
  background-image: url("../allData/img/mainTools/search.svg");
  background-size: 40.5px 40.5px;
  position: absolute;
  bottom: 0;
}
#search input {
  height: 25px;
  width: 180px;
  margin-left: 28px;
  margin-top: 10px;
  margin-right: 10px;
  padding-left: 8px;
}
