* {
  font-family: Calibri;
  font-size: 11pt;
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
}
.node circle {
  opacity: 0.2;
}
.node path {
  opacity: 0.7;
  display: none;
}
.node:hover circle {
  opacity: 1;
}
.node.fixed path {
  display: block;
}
.node.fixed circle {
  display: none;
}
.node.fixed:hover path {
  opacity: 1;
}
.picto {
  width: 24px;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
  margin-left: 5px;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
a:hover {
  text-decoration: underline;
}
#main-menu {
  background: #888;
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  width: 240px;
  border-bottom-right-radius: 60px;
  z-index: 2;
}
#tools-panel {
  background-color: #aaa;
  position: fixed;
  top: 0;
  left: 180px;
  padding-left: 60px;
  right: 0;
  height: 320px;
}
#tools-panel.hidden {
  top: -320px;
}
#tools-panel.small {
  top: -260px;
}
#tools-panel.big {
  top: 0;
}
#tools-panel.big .expand {
  display: none;
}
#tools-panel #advanced-tools {
  height: 260px;
  background-color: #999;
}
#tools-panel #main-tools {
  height: 60px;
}
#legend {
  background-color: #ccc;
  position: fixed;
  display: block;
  top: 120px;
  left: 0;
  bottom: 0;
  width: 180px;
}
#legend.hidden {
  left: -180px;
}
#legend.small {
  left: 0;
}
#legend.small .expand {
  display: none;
}
#legend h2 {
  text-align: center;
  margin: 10px;
}
#legend label {
  position: relative;
  display: block;
  vertical-align: middle;
  clear: both;
  height: 40px;
  line-height: 20px;
  border-top: solid 1px #ddd;
}
#legend label::first-line {
  line-height: 19px;
}
#legend label:hover {
  background-color: #bbb;
}
#legend .picto {
  margin: 4px;
  height: 32px;
  width: 32px;
}
#legend input {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 16px;
  height: 16px;
}
#tools-panel.hidden ~ #details {
  top: 0;
}
#tools-panel.small ~ #details {
  top: 60px;
}
#tools-panel.big ~ #details {
  top: 320px;
}
#details {
  background-color: #ccc;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 300px;
}
#details.hidden {
  right: -300px;
}
#details.small {
  right: 0;
}
#details.big {
  width: 66vw;
}
#details.big .expand {
  display: none;
}
#details section {
  padding: 10px;
}
#sponsor {
  background: #888;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 120px;
  width: 240px;
  border-top-left-radius: 60px;
  z-index: 2;
}
#legend > section,
#details > section {
  height: 100%;
  overflow: auto;
}
.hidden,
.small,
.big {
  transition: all 0.5s;
}
footer {
  background-color: rgba(0,0,0,0.1);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  z-index: -1;
  text-align: center;
  opacity: 0.7;
}
footer a {
  margin: 0 20px;
  display: inline-block;
}
#viz {
  position: fixed;
  z-index: -2;
}
.expand,
.reduce {
  font-weight: bold;
  font-size: 20px;
  color: #eee;
  background: rgba(136,136,136,0.7);
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.expand.bottom,
.reduce.bottom {
  top: 100%;
}
.expand.left,
.reduce.left {
  left: 0;
}
.expand.right,
.reduce.right {
  left: 100%;
}
.expand:hover,
.reduce:hover {
  background: #888;
}
.expand.bottom {
  margin-top: 0;
  height: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.reduce.bottom {
  height: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.expand.left,
.reduce.right {
  width: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.reduce.left,
.expand.right {
  margin-left: 0;
  width: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
