mainToolsHeight = 60px
advencedToolsHeight = 260px
toolsPanelHeight = mainToolsHeight + advencedToolsHeight
legendWidth = 180px
logoAreaWidth = legendWidth
logoAreaHeight = 120px
detailsSmallWidth = 300px
detailsBigWidth = 600px
footerHeight = 30px
footerWidth = detailsSmallWidth

panelSizeChangerSize = 30px
transitionDuration = 0.5s
sizeChangerBg = #888

hide()
	display none

*
	font-family Calibri
	font-size 11pt
	margin 0
	padding 0

body
	background-color #eeeeee

.node
	circle
		opacity 0.2
	path
		opacity 0.7
		display none
	&:hover
		circle
			opacity 0.7
	&.fixed
		path
			display block
		circle
			display none
		&:hover
			path
				opacity 1
	&.selected path, &.selected circle
		stroke-width 4px
		stroke #CC4444
		opacity 0.7
	&.selected:hover *
		opacity 1

.nearlyHidden
	opacity 0.2

.picto
	width 24px
	float left
	margin-top 3px
	margin-right 5px
	margin-left 5px

a
	text-decoration none
	font-weight bold
	color #333
	&:hover
		text-decoration underline
#logoArea
	background-color #a5bfc0
	position: fixed
	top:0
	left:0
	height: logoAreaHeight
	width: logoAreaWidth
	z-index 2

#tools-panel
	background-color: #7c9899
	position: fixed
	top:0
	left: logoAreaWidth
	right: 0
	height: toolsPanelHeight
	&.hidden
		top - toolsPanelHeight
	&.small
		top - advencedToolsHeight
	&.big
		top 0
		.expand
			hide()
	#advanced-tools
		height advencedToolsHeight
		background-color #788888
	#main-tools
		height mainToolsHeight

#legend
	background-color #a5bfc0
	position fixed
	display block

	top logoAreaHeight
	left 0
	bottom 0
	width: legendWidth
	&.hidden
		left - legendWidth
	&.small
		left 0
		.expand
			hide()
	h2
		text-align center
		margin 10px
	label
		position relative
		display block
		vertical-align middle
		clear both
		height 40px
		line-height 20px
		border-top solid 1px #ddd
		&::first-line
			line-height 19px

		&:hover
			background-color #bbb
	.picto
		margin 4px
		height 32px
		width 32px
		//background-color #666
	input
		position absolute
		bottom 2px
		right 2px
		width 16px
		height 16px


#tools-panel.hidden ~ #details
	top 0
#tools-panel.small ~ #details
	top mainToolsHeight
#tools-panel.big ~ #details
	top toolsPanelHeight

#details
	background-color #788888
	position fixed
	right 0
	bottom 0
	width detailsSmallWidth
	&.hidden
		right - detailsSmallWidth
	&.small
		right 0
	&.big
		width detailsBigWidth
		.expand
			hide()
	section
		background-color #d7e1e2
		margin 10px
		margin-top 80px
		padding 10px
		padding-bottom footerHeight + 10px

footer
	background-color #7c9899
	position fixed
	bottom:0
	right:0
	height: footerHeight
	width: footerWidth
	z-index 2
	text-align center
	a
		margin 0 10px
		line-height footerHeight
		display inline-block;
	.expand, .reduce
		top 0
		left 0
		bottom 0
		border-radius 0
		border-top-left-radius footerHeight
		height footerHeight
		width footerHeight
		line-height footerHeight
		margin-top 0
		margin-left - footerHeight
		background-color #7c9899



#legend, #details
	> section
		height 100%
		overflow auto

#search
	position absolute
	right 0
	bottom 0
	height 30px
	width detailsSmallWidth
#langPicker
	position absolute
	right detailsSmallWidth
	bottom 0px
	width (detailsSmallWidth / 2)
	height mainToolsHeight


.hidden, .small, .big
	transition all transitionDuration
#viz
	position fixed
	z-index -2
#errorBox
	background-color hsla(0,0,0,0.2);
	position fixed
	left legendWidth
	//width 400px
	bottom 0
	border-top-left-radius 20px
	border-top-right-radius 20px
	.error
		color #900
		padding 0 20px
		display block
		transition opacity 5s
		&.fade
			opacity 0


.expand, .reduce
	font-weight bold
	font-size 20px
	//color #eee
	background alpha(sizeChangerBg,0.7)
	border 0
	position absolute
	top 50%
	left 50%
	margin-left - panelSizeChangerSize
	margin-top - panelSizeChangerSize
	width 2 * panelSizeChangerSize
	height 2 * panelSizeChangerSize
	border-radius panelSizeChangerSize
	&.bottom
		top 100%
	&.left
		left 0
	&.right
		left 100%
	&:hover
		background sizeChangerBg

.expand.bottom
	margin-top 0
	height panelSizeChangerSize
	border-top-left-radius 0
	border-top-right-radius 0
.reduce.bottom
	height panelSizeChangerSize
	border-bottom-left-radius 0
	border-bottom-right-radius 0
.expand.left, .reduce.right
	width panelSizeChangerSize
	border-top-right-radius 0
	border-bottom-right-radius 0
.reduce.left, .expand.right
	margin-left 0
	width  panelSizeChangerSize
	border-top-left-radius 0
	border-bottom-left-radius 0

#tradForm, form
	label
		display block;
		clear both;
	input
		width 50%;
		float:right;
		&[type="radio"]
			width auto
			float none
			margin-right 5px
	textarea
		display block
		width 100%
